/* banner */

.banner {
  position: relative;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* --colorPrimario y colorPrimario2 con opacidad */
  background-image: linear-gradient(
    hsl(282, 90%, 50%, 0.4) 15%,
    hsl(290, 90%, 50%, 0.15) 30%
  );
}

.continer-title--opacity {
  position: absolute;
  height: 400px;
  width: 800px;

  background-image: radial-gradient(
    ellipse 70% 65%,
    hsl(282, 90%, 50%, 0.2) 30%,
    transparent 70%
  );
}

.banner--picture {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100;
}

.banner--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner--title {
  position: absolute;
  color: var(--colorSecundarioText);
  font-size: 2rem;
  z-index: 100;
}

@media (min-width: 600px) {
  .banner--title {
    font-size: 3rem;
  }
}

@media (min-width: 1300px) {
  .banner--title {
    font-size: 4rem;
  }

  .continer-title--opacity {
    position: absolute;
    height: 500px;
    width: 1000px;
  }
}

/* articles */

.title-articles {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 100px 0 100px 0;
  font-size: 1.75rem;
}
