* {
  box-sizing: border-box;
}

:root {
  --black: hsl(0, 0%, 5%);
  --white: hsl(0, 0%, 95%);
  --colorPrimario: hsl(282, 90%, 50%);
  --colorPrimario2: hsl(290, 90%, 50%);
  --colorSecundario: hsl(55, 75%, 50%);
  --colorSecundario2: hsl(48, 65%, 50%);
  --colorSecundarioText: hsl(55, 90%, 70%);
  --shadowGeneral: 0 0 5px -3px var(--black);
  background-color: var(--white);
  color: var(--black);
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  position: relative;
  z-index: -10000;
}

body main {
  position: relative;
  z-index: -11000;
}

/* Pantalla de carga */
.load {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--colorPrimario);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease;
}

.load__end {
  opacity: 0;
}

.load--icon,
.load--icon::after {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
}

.load--icon {
  display: inline-block;
  background-color: var(--colorSecundario);
  /* Investigar */
  animation: spinner 2s linear infinite;
}
/* Investigar */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.load--icon::after {
  content: '';
  top: -15%;
  left: 33%;
  background-color: var(--colorPrimario);
}

/* title Efecto Escritura Libreria*/

.container-title {
  position: absolute;
  width: 100%;
  top: 38vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  --sizeTitle: 16px;
  font-size: var(--sizeTitle);
  z-index: 100;
}

.continer-title--opacity {
  position: absolute;
  height: 500px;
  width: 1000px;
  top: -180px;
  background-image: radial-gradient(
    ellipse 70% 65%,
    hsl(282, 90%, 50%, 0.25) 30%,
    transparent 70%
  );
}

.title {
  /* Agregar z-index al titulo */
  position: relative;

  display: inline-block;
}

.title--part-one {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0;

  height: 60px;
}

.paragrahp-title--services {
  font-size: 3em;
  font-style: normal;
  color: var(--colorSecundarioText);
}

.typed-cursor {
  /* cursor librery efect write*/
  font-size: 3em;
}

/* Slider Automatico */

.slider {
  /* --colorPrimario y colorPrimario2 con opacidad */
  background-image: linear-gradient(
    hsl(282, 90%, 50%, 0.4) 15%,
    hsl(290, 90%, 50%, 0.15) 30%
  );
  height: 100vh;
}

.slider--picture0,
.slider--picture1,
.slider--picture2,
.slider--picture3,
.slider--picture4 {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.slider--picture0 {
  z-index: -200;
}

.slider--picture1 {
  z-index: -400;
}

.slider--picture2 {
  z-index: -600;
}

.slider--picture3 {
  z-index: -800;
}

.slider--picture4 {
  z-index: -1000;
}

.slider--img0,
.slider--img1,
.slider--img2,
.slider--img3,
.slider--img4 {
  position: relative;
  z-index: -2000;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Los que considero que no se ven bien */
.slider--img0 {
  object-position: 55%;
}

.slider--img2 {
  object-position: 44%;
}

.slider--img3 {
  object-position: 40%;
}

/*Elementos de header - LOGO y Menu acitve*/
.elements-header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100px;
  position: absolute;
  top: -100px;
  background-color: transparent;
  z-index: 200;
}

.elements-header--container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;

  max-width: 1300px;
  height: 100px;
  position: relative;
  top: 130px;
}

.elements-header__scroll-bar {
  background-color: var(--colorPrimario);
  position: fixed;
  top: 0px;
}

.elements-header--container__scroll-bar {
  top: 0px;
}

/* Logo CSS*/

.logo {
  position: absolute;

  left: 0;
  /* Medidas a cambiar en las distintas resoluciones  */

  --medidaLogo: 80px;
  --triLados: 20px;
  --triPunta: 60px;
  --sombraBackground: -2px 2px 3px -4px var(--black),
    -3.5px 3.5px var(--colorSecundario2);

  height: var(--medidaLogo);
  width: var(--medidaLogo);
  z-index: 1000;
}

.logo--figure {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 41%;
  left: 12.5%;
  border-radius: 50%;
  width: 15%;
  height: 18%;
  background-color: var(--colorPrimario);
}

.logo--figure::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -60%;

  width: 73.35%;
  height: 94.45%;
  background-color: var(--colorPrimario);
  border-radius: 60% 60% 20% 20% / 100% 100% 30% 30%;
}

.logo--figure::after {
  content: '';
  display: flex;
  position: absolute;
  top: -30%;

  border-radius: 50%;
  width: 30%;
  height: 25%;
  background-color: var(--colorSecundario);
}

.logo--background {
  background-image: radial-gradient(
    circle var(--medidaLogo) at 83% 35%,
    transparent 49.3%,
    var(--colorSecundario) 50%
  );
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
  box-shadow: var(--sombraBackground);
}

.logo--background::before {
  content: '';
  display: inline-block;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  position: absolute;
  top: 52%;
  left: 12.6%;
  background-color: var(--colorSecundario);
}

.logo--background::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 52%;
  left: -5%;
  border-bottom: var(--triPunta) solid var(--colorPrimario);
  border-left: var(--triLados) solid transparent;
  border-right: var(--triLados) solid transparent;
}

.logo--name {
  all: initial;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  width: 74%;
  height: 57%;
  position: absolute;
  left: 37.5%;
  top: 20%;
  color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
}

.logo--name-one {
  font-size: 1.5em;

  font-weight: normal;
}

.logo--name-two {
  font-size: 1.2em;
  position: absolute;
  top: 45%;
  left: 10%;
  font-weight: normal;
}

/* Menu */

.menu-active,
.menu-active::after,
.menu-desactive,
.menu-desactive::before,
.menu-desactive::after {
  display: inline-block;
  height: 3px;
  width: 27px;

  position: absolute;
}

.menu-active {
  height: 20px;

  overflow: hidden;
  cursor: pointer;
}

.menu-active::after {
  content: '';
  border-radius: 1px;
  background-color: var(--white);
  box-shadow: -5px 6.5px var(--white), -10px 13px var(--colorSecundario);
}

.menu {
  height: 100vh;
  width: 70vw;
  background-color: var(--colorPrimario);
  position: fixed;
  top: 0;
  right: -85%;
  z-index: 100;
  overflow-y: auto;
  transition: right 0.4s ease;
  border-left: 2px solid var(--colorSecundario);
  z-index: 1400;
}

.menu__start {
  right: 0%;
  /* Active event menu */
}

/* menu-desactive va ubicado en otro contenedor*/
.menu-desactive {
  height: 20px;
  top: 60px;
  left: 86%;
  cursor: pointer;
}

.menu-desactive-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 13, 13, 0.4);
  cursor: pointer;
  z-index: 1200;
}

.menu-desactive::after,
.menu-desactive::before {
  content: '';
  border-radius: 1px;
  background-color: var(--white);
  top: 7px;
  transform: rotate(0.375turn);
}

.menu-desactive::before {
  transform: rotate(0.125turn);
}

/* Elementos Menu */

.list {
  position: absolute;
  top: 125px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list--item {
  height: 100px;
  border-bottom: 2px solid var(--colorSecundario);
  display: flex;
  align-items: center;
}

.list--item:last-child {
  border-bottom: none;
}

.list--item a {
  text-decoration: none;
  font-size: 1.6rem;
  padding-left: 15px;
  color: var(--white);
}

@media (min-width: 1300px) {
  .menu-active,
  .menu-desactive {
    display: none;
  }

  .menu {
    height: 100px;
    width: 60%;
    background-color: transparent;
    position: absolute;
    /* producto del desplzamiento del formato mobile */
    right: 0;
    border-left: none;
    transition: none;
    display: flex;
    justify-content: flex-end;
  }

  .nav {
    width: 100%;
  }

  .list {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .list--item {
    width: 150px;
    border-bottom: none;
  }

  .list--item a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    padding-left: 0px;
    height: 28px;
    border-bottom: 0px solid var(--colorSecundario);
    transition: border 0.1s ease;
  }

  .list--item a:hover {
    border-bottom: 3px solid var(--colorSecundario);
  }

  .continer-title--opacity {
    top: -160px;
  }

  .title--part-one {
    font-size: 5em;
    height: 100px;
  }

  .paragrahp-title--services {
    font-size: 5em;
  }

  .typed-cursor {
    /* cursor librery efect write*/
    font-size: 5em;
  }
}

@media (min-width: 1600px) {
  .logo {
    --medidaLogo: 100px;
    --triLados: 25px;
    --triPunta: 75px;
    --sombraBackground: -2.5px 2.5px 3.75px -5px var(--black),
      -4.375px 4.375px var(--colorSecundario2);
  }
  /* evento scroll */
  .logo__scroll-bar {
    --medidaLogo: 80px;
    --triLados: 20px;
    --triPunta: 60px;
    --sombraBackground: -2px 2px 3px -4px var(--black),
      -3.5px 3.5px var(--colorSecundario2);
  }

  .logo__scroll-bar .logo--name .logo--name-one {
    font-size: 1.5em;
  }

  .logo__scroll-bar .logo--name .logo--name-two {
    font-size: 1.2em;
  }

  .list--item a {
    font-size: 1.4rem;
  }

  .logo--name-one {
    font-size: 1.875em;

    font-weight: normal;
  }

  .logo--name-two {
    font-size: 1.5em;
  }
}

@media (min-width: 1900px) {
  .continer-title--opacity {
    height: 700px;
    width: 1400px;
    top: -200px;
  }

  .title--part-one {
    font-size: 7em;
    height: 150px;
  }

  .paragrahp-title--services {
    font-size: 7em;
  }

  .typed-cursor {
    /* cursor librery efect write*/
    font-size: 7em;
  }
}

/* card frases atrapantes */

.wrapper-superior {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  max-width: 1800px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.wrapper {
  position: relative;
  perspective: 30em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 150px;
  width: 300px;
  transform: translateX(10px) rotateY(20deg) rotateX(5deg);
  background: hsla(55, 75%, 50%, 0.85);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: var(--colorPrimario);
  text-transform: uppercase;

  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
}

.card--title {
  all: initial;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: 5%;
  left: 2%;
}
.card--paragrahp {
  all: initial;
  font-family: sans-serif;
  position: absolute;
  top: 45%;
  font-size: 1rem;
  color: var(--colorPrimario);
}

.card .enclosed {
  background: var(--colorPrimario);
  line-height: 1;
  color: var(--colorSecundario);
  display: inline-block;
  transform: translateX(10px);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-30px) rotateY(-20deg) rotateX(10deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid var(--colorPrimario);
  box-sizing: content-box;
}

@media (min-width: 600px) {
  .wrapper-superior {
    height: 800px;
  }

  .card {
    height: 200px;
    width: 400px;
  }

  .card--title {
    font-size: 1.7rem;
  }
  .card--paragrahp {
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .wrapper-superior {
    height: 1100px;
  }
  .card {
    height: 250px;
    width: 500px;
  }
  .card--title {
    font-size: 1.8rem;
  }
  .card--paragrahp {
    font-size: 1.4rem;
  }
}

@media (min-width: 1300px) {
  .card--title {
    font-size: 2rem;
  }
  .wrapper-superior {
    height: 600px;
    flex-direction: row;
  }

  .wrapper:hover > article,
  .wrapper:hover:before {
    transform: none;
  }

  .wrapper > article,
  .wrapper:before {
    will-change: transform;
    transition: 0.3s transform cubic-bezier(0.25, 0.46, 0.45, 1);
  }
}

/* servicios */
/* card servicios */

.container-wrapper {
  box-shadow: var(--shadowGeneral);
  background-image: linear-gradient(
    to right,
    hsl(0, 0%, 92%) 60%,
    hsl(282, 20%, 80%) 100%
  );
  position: relative;
  z-index: -200;
  box-sizing: content-box;
  padding-top: 150px;
  display: flex;
  justify-content: center;
}

.title-wrapper {
  position: absolute;
  top: 40px;

  text-align: center;
}

.container-cardThree {
  height: 750px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-cardThree:nth-of-type(2) {
  height: 300px;
}

.cardThree--title,
.cardThree--icon,
.cardThree {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

.cardThree {
  height: 300px;
  width: 240px;

  align-items: center;
  position: relative;

  color: var(--colorSecundario);
  background-image: linear-gradient(
    hsla(282, 90%, 50%, 0.1) 10%,
    hsla(282, 90%, 50%, 0.2) 30%,
    hsla(282, 90%, 50%, 0.1) 50%,
    hsla(282, 90%, 50%, 0.3) 70%,
    hsla(282, 90%, 50%, 0.1) 90%
  );
  box-shadow: var(--shadowGeneral);
  /* contribuye a la redimension de la imagen "edicion de libro" */
  overflow: hidden;
}

.cardThree > picture {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardThree--img {
  height: 100%;
  /* depende de la imagen agragaremos un object position*/
  object-fit: cover;
}

.cardThree--img__design {
  object-position: -120px;
}

/* efecto de redimension producto del tamaño incompatible de la imagen con respecto a su contenedor*/
.cardThree--img__book {
  object-position: 0 -50px;
  width: 250px;
  height: 375px;
}

.cardThree--container {
  height: 75%;
  width: 75%;
}

.cardThree--icon {
  position: relative;
  font-size: 5rem;
  color: var(--white);
  color: var(--colorSecundarioText);
}

/* PROPIEDADES RELATIVAS */
.cardThree--title {
  position: relative;
  top: 25%;
  font-size: 2rem;
  text-align: center;
  color: var(--white);
  color: var(--colorSecundarioText);
}

@media (min-width: 600px) {
  .title-wrapper {
    font-size: 1.75rem;
  }

  .container-cardThree {
    height: 400px;
    flex-direction: row;
  }

  .container-cardThree:nth-of-type(2) {
    height: 300px;
  }
}

@media (min-width: 1300px) {
  .container-wrapper2 {
    width: 150vw;
    max-width: 3000px;
  }

  .container-cardThree {
    height: 375px;
    width: 150vw;
    max-width: 3000px;
    position: relative;
    left: 0%;
  }

  .container-cardThree:nth-of-type(2) {
    height: 20px;
  }

  .cardThree {
    transition: all 0.3s ease;
  }
  /* efecto de redimension producto del tamaño incompatible de la imagen con respecto a su contenedor*/
  .cardThree--img__book {
    transition: all 0.3s ease;
  }

  .cardThree:hover {
    height: 312.5px;
    width: 250px;
  }

  .cardThree:hover .cardThree--img__book {
    width: 260px;
    height: 390px;
  }
}

/* Elment opacity scroll - trabajos hechos*/

.container-card2 {
  position: relative;
  width: 100vw;
  height: 500px;
}

.background-card2 {
  position: absolute;
  width: 100vw;
  height: 500px;
  background-color: hsla(0, 0%, 95%, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-card2 > picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
}

.background-card2--img {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-card2__size {
  max-width: 1600px;
  height: 400px;
  width: 75%;
  position: relative;
  left: -100%;
  transition: left 1s ease;
}

.background-card2__scroll .background-card2__size {
  left: 0%;
}

.card2 {
  height: 400px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadowGeneral), -10px -10px var(--colorSecundario),
    -10px -10px 5px -2px var(--black), -20px -20px var(--colorPrimario),
    -20px -20px 5px -2px var(--black);
  opacity: 0;
  transition: opacity 2s ease;
}

.card2__scroll {
  opacity: 1;
}

.card2--paragrahp {
  margin-top: 0;
  margin-bottom: 0;
  height: 80%;
  width: 90%;
  font-size: 1.6rem;
}

.card2--button {
  position: absolute;
  top: 70%;
  font-size: 1.8rem;
  padding: 6px 12px 6px 12px;
  border: 2px solid var(--colorPrimario);
  background-color: var(--white);
  cursor: pointer;
  transition: top 0.3s ease;
}

@media (min-width: 500px) {
  .card2--paragrahp {
    font-size: 2rem;
  }
}

@media (min-width: 900px) {
  .background-card2 {
    width: 100vw;
    height: 500px;
    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 95%, 0.15) 40%,
      hsla(282, 90%, 50%, 0.3) 60%
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-card2__size {
    width: 90%;

    display: flex;
    justify-content: flex-end;
  }

  .card2 {
    width: 50%;
  }

  .card2--paragrahp {
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  .card2--button:hover {
    top: 68%;
  }
}

/*   <!-- Testimonios -->   */

.section-testimony {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  position: relative;
}

.section-testimony--title {
  position: absolute;
  top: 100px;
  text-align: center;
  font-size: 1.7rem;
}

.section-testimony--box {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 400px;
}

.box-testimony {
  height: 500px;
  width: 80%;
  background-color: var(--colorPrimario);
  box-shadow: -5px 5px var(--colorSecundario);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-testimony--container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.box-testimony--text {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-size: 1.1rem;
  color: var(--white);
}

.box-testimony--cite {
  font-style: normal;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
}

@media (min-width: 500px) {
  .box-testimony {
    height: 400px;
  }
}

@media (min-width: 800px) {
  .box-testimony {
    height: 350px;
  }
}

@media (min-width: 1000px) {
  .section-testimony--box {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .box-testimony {
    width: 70%;
    height: 400px;
  }
}

@media (min-width: 1300px) {
  .section-testimony--box {
    max-width: 1500px;
  }

  .box-testimony {
    max-width: 400px;
  }
}

/* Footer */

.footer {
  position: absolute;

  bottom: 0;
  width: 100vw;
  height: 300px;
  background-color: var(--colorPrimario);
}

.container-contact {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}

.contact {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

.logo__footer {
  top: -25px;
  z-index: 0;
}

.logo__footer .logo--name .logo--name-one,
.logo__footer .logo--name .logo--name-two,
.contact,
.contact--item a i {
  font-style: normal;
}

.contact--list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
}

.contact--item a {
  font-size: 2rem;
  color: var(--white);
  text-decoration: none;
}

.container-autor {
  position: absolute;
  font-weight: bold;
  top: 180px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
}

@media (min-width: 1600px) {
  /* para el footer */
  .logo__footer {
    --medidaLogo: 80px;
    --triLados: 20px;
    --triPunta: 60px;
    --sombraBackground: -2px 2px 3px -4px var(--black),
      -3.5px 3.5px var(--colorSecundario2);
  }
}
