/* particular de home page */
body {
  overflow-x: hidden;
  position: relative;
  max-width: 100vw;

  z-index: -10000;
}

body main {
  position: relative;
  z-index: -11000;
}

/* Slider Automatico */

.slider {
  /* --colorPrimario y colorPrimario2 con opacidad */
  background-image: linear-gradient(
    hsl(282, 90%, 50%, 0.4) 15%,
    hsl(290, 90%, 50%, 0.15) 30%
  );
  height: 100vh;
}
/* No se hizo por img para facilitar la iteracion por JS */
.slider--picture0,
.slider--picture1,
.slider--picture2,
.slider--picture3,
.slider--picture4 {
  position: absolute;
  height: 100vh;
  width: 100%;
}

.slider--picture0 {
  z-index: -200;
}

.slider--picture1 {
  z-index: -400;
}

.slider--picture2 {
  z-index: -600;
}

.slider--picture3 {
  z-index: -800;
}

.slider--picture4 {
  z-index: -1000;
}

.slider--img0,
.slider--img1,
.slider--img2,
.slider--img3,
.slider--img4 {
  position: relative;
  z-index: -2000;
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* Los que considero que no se ven bien */
.slider--img0 {
  object-position: 55%;
}

.slider--img2 {
  object-position: 44%;
}

.slider--img3 {
  object-position: 40%;
}
